.icon_medias {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1;
    grid-gap: 0.3rem;
}
.icon_medias a:nth-child(2) {
    grid-row-start: 2;

}

img {
    max-width: 30%;
    min-width: 2rem;
}
    







 

