.icon_medias {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1;
    grid-column-gap: 0.3rem;
}
.icon_medias a:nth-child(1) {
    grid-column-start: 2;

}

img {
    max-width: 40%;
    min-width: 1.5rem;
}
    







 

