
header{
    height: 150px;
    background-color: var( --backgound-first-color);
    padding-top: .3rem;
}


/* ////////////////////// button burger ////////////////////////// */

.buttonBurger{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1E9F69;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(90, 89, 89);
    box-shadow: 0 0 6px black;
}

.burger{
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgb(243, 215, 215);
    border-radius: 3px;
    z-index: 1;
    transition: all .5s ease-in-out;
}

/* ////////////////////// Animation burger menu /////////////////////////// */

.btnOpen1{
    transform: rotate(45deg) translate(15px) translateX(-7px) translateY(7px);
}

.btnOpen2{
    transform: rotate(-45deg) translate(15px) translateX(-7px) translateY(-7px);
}

.btnOpenHide{
    transform: translateX(-50px);
    background-color: transparent;
}


/* ////////////////////// Nav bar set to [display: none] in Mobil first /////////////////////////// */

header nav{
    display: none;
    background-color: var(--background-second-color);
    width: 200px;
    height: 250px;
    border-radius: 0% 30% 30% 0%;
    border: 2px solid #663202;
    box-shadow: 5px 5px 10px black;
    position: absolute;
    top: 100px;
    z-index: 100;
    animation: slideOpen 1.2s;
}

.visible{
    display: block;
}

header nav ul{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li{
    list-style: none;
    font-size: 1.5rem;
}


a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


/* ////////////////////// Animation nav bar  /////////////////////////// */

@keyframes slideOpen {
    0% {
         transform: translateX(-200%);
    }
    60% {
        transform: translateX(5%);
    }
    65% {
         transform: rotate3d(1, 0, 0, 0deg);
    }
    75% {
         transform: rotate3d(1, 0, 0, 180deg);
    }
    90% {
          transform: rotate3d(1, 0, 0, 360deg);
    }
    100% {
         transform: translateX(-1%);
    }
  }


/* ////////// Section containing the different links for choosing languages ///////////// */

section{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.langage{
    background-color: rgb(155, 206, 252);
    width:  clamp(3rem, 21vw, 7rem);
    height: clamp(3rem, 21vw, 7rem);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;
}

.langage a{
    color: black;
    font-weight: bold;
    font-size: clamp(.2rem, 4vw, 1.2rem);
}


