@import url(style.css);

body {
    
    font-family: 'Fredoka', sans-serif;
    color: #1cda5b;
    font-size: 1.2rem;
    
}

h1 {
    font-family: 'Fredoka', sans-serif;
    font-size: 6rem;
    text-align: center;
    color: #1cda5b;
    margin-top: 5rem;
<<<<<<< HEAD
}

.ourteam {
    display: flex;
    flex-direction: column;
     
}


.hulkQuote {
    border: 1px solid;
    color:rgb(241, 103, 10);
    background-color: #ebfbf0;
    font-size: 1rem;
    width: 25rem;
    float: right;
=======
>>>>>>> fa20f91f4c920558604da96cc207d2108d4ae6bd
    
        
}

<<<<<<< HEAD
.homerPic{
    margin-left: 25rem;
}

.homerQuote {
    border: 1px solid;
    color:rgb(241, 103, 10);
    background-color: #ebfbf0;
    font-size: 1rem;
    width: 20rem;
    float: left;
        
}

.batmanQuote {
    border: 1px solid;
    width: 25rem;
    float: right;
        
}
.yodaQuote {
    border: 1px solid;
    width: 25rem;
    float: left;
        
}

.yodaPic {
    margin-left: 25rem;
}
=======
section.ourTeam {
    display: flex;
    flex-wrap: wrap;
    
    
}


.hulkQuote {
    border: 1px solid;
    color:rgb(51, 172, 81);
    background-color: #ebfbf0;
    font-size: 1rem;
    width: 25rem;
    text-align: justify;
    padding: 1rem 1rem 1rem 1rem;
    
    
                
}
>>>>>>> fa20f91f4c920558604da96cc207d2108d4ae6bd
