.welcomeBox:first-child{
    max-width: 100%;
    margin-top: clamp(1rem, 10vw, 6rem);
}

.welcomeBox:first-child img{
    max-width: 100%;
}

.welcomeBox{
    width:100%;
    display: flex;
    flex-direction: column;  
}

.welcomeMsg{
    font-family: var(--font-primary);
    width: 90%;
    padding: 0;
    margin: auto;
    font-size: 2rem;
    color: black;
    margin-bottom: 3rem;
}


@media screen and (min-width: 800px){
    .welcomeMsg{
        width: 60%;
        margin-bottom: 3rem;
    }

    .welcomeBox:first-child img{
        max-width: 70%;
        margin: auto;
    }
}


.wordColour{
    color: red;
}


