h1 {  width: 60%;
    color: var(--background-first-color);
    margin: 1rem auto;
    font-size: clamp(1rem, 10vw, 6rem); 
    text-align: center;
    
}
.container_form {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 103, 10);
    border-radius: 5px;
    border: 5px solid gray ;
    


    
    

    
    
}
.buton {
    align-self: center;
}

.firstname {
    color: var(--background-first-color);
    font-size: 1.2rem;
    text-align: justify;
    margin: 3rem;
text-align: center;
    }
.lastname {
    color: var(--background-first-color);
text-align: center;
font-size: 1.2rem;
text-align: justify;
margin: 3rem;
text-align: center;
}
.mail {  
    color: var(--background-first-color);
    text-align: center;
    font-size: 1.2rem;
    text-align: justify;
    margin: 3rem;
    text-align: center;


}



.message {  color: var(--background-first-color);
    text-align: center;
    font-size: 1.2rem;
    text-align: justify;
    margin: 3rem;
    text-align: center;

}
   

    


