

.data p {
    font-family: "Fredoka", sans-serif;
    color: var(--backrgound-first-color);
    font-size: 1.2rem;
    text-align: justify;
    margin: 3rem;
    
  }
  
  .data h1 {
    font-family: var(--font-primary);
    font-size: 7rem;
    text-align: center;
    color: var(--background-first-color);
    padding-top: 5rem;
    letter-spacing: 1rem;
    
  }
  
  .data h2 {
    text-align: center;
    font-family: var(--font-primary);
    color: rgb(241, 103, 10);
    font-size: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
  }

  @media screen and (min-width: 800px){

    .data p {
      max-width: 60%;
      margin: auto;
    }
  }