

p.ourteam {
  font-family: var(--font-primary);
  color: var(--background-first-color);
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2rem;
  font-weight: 500;
}

h1.ourteam {
  font-family: var(--font-primary);
  font-size: 7rem;
  color: var(--background-first-color);
  padding-top: 5rem;
  letter-spacing: 1rem;
  text-align: center;
}

h2.ourteam {
  font-family: var(--font-primary);
  color: var(--background-second-color);
  font-size: 2.5rem;
  padding-top: 3rem;
  text-align: center;
}

h3 {
  font-family: var(--font-primary);
  color: var(--background-first-color);
  padding-bottom: 3rem;
  font-size: 2.5rem;
}

.ourteam {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}


.ourteam div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

div p {
  font-size: 1rem;
  border: 1px solid #aefac6;
  color: rgb(241, 103, 10);
  background-color: #ebfbf0;
  padding-top: 2rem;
  border-radius: 3%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  width: 150px;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

div.homer {
  flex-direction: row-reverse;
}


div.yoda {
  flex-direction: row-reverse;
}


@media screen and (min-width: 800px) {
  div {
    
    max-width: 60%;
    margin: auto;
  }

  p {
    max-width: 60%;
    margin: auto;
  }

  .hulkPic {
    width: 30vh;
  }

  .homerPic {
    width: 30vh;
  }

  div p {
    width: 35vh;
    font-size: 1.8rem;
    padding-top: 0.5rem;
    padding-left: 3rem;
    line-height: 80px;
  }

  .batmanPic {
    width: 50vh;
  }

   .yodaPic {
    width: 100vh;
  }


}
