
@import url(_header.css);
@import url(_ourteam.css);



@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Roboto:wght@100;700&display=swap');

root {
    --backgound-first-color:#1E9F69;
    --background-second-color:#E97101;
    --font-primary: font-family: 'Fredoka', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
