
@import url(_header.css);
@import url(/assets/css/_ourteam.css);

@import url(/assets/css/_footer.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

root {
    --backgound-first-color:#1E9F69;
    --background-second-color:#E97101;
    --font-primary: font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
