.box_devBack{
  width: 100%;
  margin: 0;
  padding: 0;
}


.box_devBack h1 {
    font-family: var(--font-primary);
    font-size: clamp(1rem, 10vw, 6rem);
    text-align: center;
    color: var(--background-first-color);
    padding-top: 1.5rem;
    letter-spacing: .5rem;
    
  }
  
.box_devBack h2 {
    text-align: center;
    font-family: var(--font-primary);
    color: rgb(241, 103, 10);
    font-size: clamp(1rem, 7vw, 3rem);
    padding: 1rem 0;
    
  }

  .box_devBack p {
    font-family: var(--font-primary);
    color: var(--background-first-color);
    font-size: 1.2rem;
    text-align: justify;
    margin: 3rem;
    
  }

  @media screen and (min-width: 800px){

.box_devBack p {
      max-width: 60%;
      margin: 2rem auto;
    }
  }